@import '../../../assets/styles/variables.scss';
.theme-buttons-container {
    width: 3.5em;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    .theme-button {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        outline: none;
        display: flex;
        font-size: inherit;
        cursor: pointer;
        &.dark {
           background-color: $dark-background;
           border: 2px solid #ccc;
        }
        &.green {
            background-color: $green-font;
            border: 2px solid #ccc;
        }
        &.light {
            background-color: $light-background;
            border: 2px solid #ccc;
        }
        &.active {
            transform: scale(1.2);
            transition: all 0.7s;;
        }
    }
}

@media screen and (max-width: $small) {
    .theme-buttons-container {
        font-size: 20px;
    }
    //do Smth
}
@media screen and (min-width: $medium) {
    .theme-buttons-container {
        font-size: 25px;
    }
    //do Smth
}