@import '../../../assets/styles/variables.scss';
.main-content {
    width: 100vw;
    height: 100vh;
 }   
@media screen and (max-width: $small) {
    .main-content {
     } 
    //do Smth
}
@media screen and (min-width: $medium) {
    .main-content {
       padding-left: 70px;
    }   
    //do Smth
}