@import '../../../assets/styles/variables.scss';    
@media screen and (max-width: $small) {
    .menu-container {
       box-sizing: border-box;
       position: absolute;
       z-index: 10;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw; 
       &.open {
           .menu-relative-container {
               position: relative;
               width: 100vw;
               max-height: 100vh;              
            }
            max-height: 100vh;       
            transition: all 0.5s ease-in-out;
        }
        &.close {
            .menu-relative-container {
                position: relative;
                width: 100vw;
                max-height: 0;            
             }
           max-height: 0;
           transition: all 0.5s ease-in-out;
       }
    }
}


@media screen and (min-width: $medium) {
    .menu-container {
        box-sizing: border-box;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100vh;
        width: $sidebar-size;     
    }
}